# dependencies
node_modules
.pnpm-store

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist
.env
packages/foundry/broadcast
packages/foundry/cache
packages/foundry/out

# foundry
packages/foundry/out
packages/foundry/cache
packages/foundry/broadcast
